  <h3>{{ message }}</h3>

  @if ((products$ | async)?.length > 0) {

    <div class="right">
      {{ productsNumber$ | async  }} products listed
      |
      {{ productsTotalNumber$ | async }} on server |
      <span>
        {favourites, plural,
        =0 {no favourite}
        =1 {1 favourite}
        other {{{favourites}} favourites}
        }
      </span>
    </div>

    @if (products$ | async; as products) {
    <div>
      <button (click)="sortList('price')">Sort by price</button>
      <button (click)="sortList('name')">Sort by name</button>
      <button (click)="sortList('modifiedDate')">Sort by date</button>
    </div>

    <ul class="products">
      @for (product of products | orderBy: [sorter] | slice: start:end; track product.id) {
        <li [title]="product | json" (click)="onSelect(product)">
          <span class="name">{{ product.name | uppercase }}</span>
          <span class="description">{{ product.description }}</span>
          <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
        </li>
      }
    </ul>
  }

    <div class="left">
      <a routerLink="insert">Add new product...</a>
    </div>

    <div class="right">
      <button (click)="previousPage()" [disabled]="start == 0">
        < Previous Page
      </button>
      Page {{ currentPage }}
      @if ((productsNumber$ | async) > end) {
        <button
          (click)="nextPage()"
          >
          Next Page >
        </button>
      }
      @if (
        (productsNumber$ | async) <= end &&
        (productsNumber$ | async) < (productsTotalNumber$ | async)
        ) {
        <button
          (click)="loadMore()"
          >
          Load {{productsToLoad}} more...
        </button>
      }
    </div>



} @else {
  <h1 class="loading">Loading products</h1>
}