:host {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #f637e3;
  padding: 20px;
  display: block;
  border-radius: 8px;
  border: solid 2px #5c44e4;
}

label {
  color: white
}

button {
  margin-right: 6px;
}